.cursor
.agents
apps/*.json
*.o
*.o.d
.*.o.d
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
Module.symvers
modules.order
.tmp_versions
poc/bin/
poc/kmod/hvm/amba_virt_core.c
poc/kmod/hvm/amba_virt_core.h
poc/kmod/nohyper/amba_virt_core.c
poc/kmod/nohyper/amba_virt_core.h
__pycache__/
eve
automation

build/
proc/
*.sym
qnx-build/

