[submodule "drivers/dsplog"]
	path = drivers/dsplog
	url = https://github.com/cchiou-amba/dsplog
	branch = eve
[submodule "drivers/pci_platform"]
	path = drivers/pci_platform
	url = https://github.com/cchiou-amba/pci_platform
	branch = eve
[submodule "eve"]
	path = eve
	url = https://github.com/cchiou-amba/eve
	branch = ambarella-eve
[submodule "eve-kernel"]
	path = eve-kernel
	url = https://github.com/cchiou-amba/eve-kernel
	branch = ambarella-eve
[submodule "boot/arm-trusted-firmware"]
	path = boot/arm-trusted-firmware
	url = https://github.com/cchiou-amba/arm-trusted-firmware
	branch = eve
[submodule "boot/u-boot"]
	path = boot/u-boot
	url = https://github.com/cchiou-amba/u-boot
	branch = eve
[submodule "eden"]
	path = eden
	url = https://github.com/cchiou-amba/eden
[submodule "guest-os/userspace/cavalry_mem"]
	path = guest-os/userspace/cavalry_mem
	url = https://github.com/cchiou-amba/cavalry_mem
	branch = eve
[submodule "guest-os/userspace/nnctrl"]
	path = guest-os/userspace/nnctrl
	url = https://github.com/cchiou-amba/nnctrl
	branch = eve

