*.o
*.o.d
.*.o.d
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
Module.symvers
modules.order
.tmp_versions
bin/
kmod/hvm/amba_virt_core.c
kmod/hvm/amba_virt_core.h
kmod/nohyper/amba_virt_core.c
kmod/nohyper/amba_virt_core.h
__pycache__/
*.sym
