[Unit]
Description=Generate SSH Host Keys if Missing
DefaultDependencies=no
After=local-fs.target
Before=ssh.service ssh.socket
ConditionFileNotEmpty=!/etc/ssh/ssh_host_rsa_key

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -A
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
